body {

  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

h1, h2, h3 {

  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

section{

  padding: 1em 0; }

header, footer {

  background-color: #FFCC00;

  text-align: center; 

  padding: 2em 0; }

a, 

.panel a, 

.panel.callout a:not(.button) {

  color: black;}

h1.logo{

  color: #FFF;

  text-transform: uppercase;

  font-weight: 900;

  line-height: 1em; 

  margin-top: 0;}

header h1.logo{

  font-size: 2em;

  letter-spacing: 1px;

  transition:letter-spacing 1s;

  -webkit-transition:letter-spacing 1s, -webkit-transform 1s; }

footer h1.logo {

  font-size: 1.5em; }

h1.logo span {

  color: #33A7C2;

  font-weight: 300; }

header h1.logo:hover {

  letter-spacing: 10px;

}

header h2 {

  font-size: 1.5em;

  color: #FFF;

  margin-bottom: 0;

  text-transform: uppercase;

  font-weight: normal; }

.presentation{

  color: white;

  background-color: #75DCCD; }

body.homecarto {

  text-align: center; }



.presentation h3{

  font-size: 1.3em;

  text-transform: uppercase;

  color: white; }

h2 {

  font-size: 1.5em;

  color: #FFAD00;

  text-transform: uppercase;

  font-weight: normal; }

header #menu {

  color: #EDAB00;

  text-transform: uppercase;

  background-color: #FFEA95; }

header #menu a {

  color: #EDAB00;

  margin: 0 2em; }



textarea {

  transition: height 0.2s;

  -webkit-transition: height 0.2s;

  -moz-transition: height 0.2s;

}



#coordonnees {

  -ms-word-break: break-all;

  word-break: break-all;

  word-break: break-word;

  -webkit-hyphens: auto;

  -moz-hyphens: auto;

  hyphens: auto; }



.tabs dd > a, .tabs .tab-title > a {  

  color: #E9890F;

  text-transform: uppercase;

  font-size: .9em;

  background: #FFCC00; }



.tabs dd.active a, .tabs .tab-title.active a {

  border-color: #d8d8d8;

  color: white;

  background: #FF9900; }



.tabs-content {

  border-style: solid;

  border-width: 1px;

  border-color: #FF9900;

  margin-bottom: 1.25em;

  padding: 1.25em;

  background: #FF9900; }



.tabs-content a {

  color: #FFF; }



.alert-box.success{

  background-color: #1BAD33;

  border-color: #1B802B; }





.presentation .legende {

  color: #000; }



#boutonactions {

  text-transform: uppercase;

  background-color: #33A7C2;

  color: white;

  position: absolute;

  right: 0;

  top: 50px;

  padding: 9px 15px; }

#boutonactions:hover {

  cursor: pointer; }

#interac {

  position: relative;

  height: 100% }



#interactions{

  position: absolute;

  right: 0;

  top: 92px;

  opacity: 0.9;

  list-style: none; }



.infos {

  color: #555;

  font-style: italic; }



#interactions li{

  display: block;

  font-size: .8em;

  background-color: #FFCC00;

  padding: 2px 6px 2px 20px;

  text-align: right;

  text-transform: uppercase;

  color: #111; }



#interac #interactions li:hover{

  background-color: #FFF; }



#interactions li span, 

#boutonactions span {

  padding-left: 10px;  }



#interactions li.ajout{

  background-color: #469D11; }



#interactions li.moderateur{

  background-color: #FF7E00; }



#interactions li.contact{

  background-color: #FFCC00; }



#interactions li.forcevive{

  color: #E5500F;

  background-color: #FFCC00; }



#interactions li.finance{

  background-color: #4798d0; }



#interactions li.conseil{

  background-color: #E3AAE7; }



#interactions li.aide{

  background-color: #DF56DD ; }





/* D3JS */

.node {
 
    cursor: pointer;   /* apparence de la souris sur les différents noeuds */
    opacity: 0.7;  /* transparance assez élevée modérée pour plus de visibilité du texte */
}

.node--root {
    opacity: 1;  /* pas de transparance pour le root */
}

.node:hover {
/* propriétés des contours au passage de la souris */
    stroke: #000;    /* couleur */

    stroke-width: 2px;  /* taille */

}

.node--leaf {

    fill: #FFCC00; /* couleur des noeuds */

}

.node--leaf:hover {

    fill: #000; /* couleur des noeuds */

}

.label {

    text-anchor: middle;  /* alignement du texte par rapport au milieu */

    text-shadow: 2px 1px 0 #FEFEFE;  /* ombres (décalage vers la droite, vers le bas, valeur du flou, couleur) */

    font-size: 1.2em;   /* taille du text dans les cercles */

    font-family: "Arial Black";  /* grosse police pour lisibilité */

}

.label, .node--root, .node--leaf {

    pointer-events: none;

}



/* Medium + */

@media only screen and (min-width: 40.063em) {

  header h1.logo {

    font-size: 5em;}

}
		#volet {
			width: 450px;
			height: 1000px;
			padding: 10px;
			background: #FEFEFE; color: #000000;	
		}
	
		#volet a.fermer {
		  padding: 10px 25px;
			background: #555;
			color: #fff;
			text-decoration: none;
		}
		#volet {
			position: absolute;
			left: 0px;  
			-webkit-transition: all .5s ease-in;
			-moz-transition: all .5s ease-in;
			transition: all .5s ease-in;
		}

		#volet a.fermer {
			position: absolute;
			right: -75px;  /* positionnement par rapport au volet */
			top: 27px;
			-webkit-transform: rotate(270deg);
			-moz-transform: rotate(270deg);
			-o-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
			-moz-radius: 0 0 8px 8px;
			border-radius: 0 0 8px 8px;
		}
		#volet:target {
			left: 10px;
		}
		#volet:target a.fermer {
			display: block;
		}

		#volet_clos:target #volet {
			left: -470px;
		}
		#volet_clos {
			position: fixed; 
			top: 55px; left: 0;
		}
